.menu
  overflow-x hidden
  relative left 0
  transition left 500ms ease
  z-index 1

.menu-side
  background dg
  color white 
  position fixed
  top 0 
  left -200px
  size 200px 100vh
  overflow-x hidden
  #close
    margin-top 5px
    margin-right 10px
    
.menu-toggle
  float right
  color lg 
  &:hover
    color white
#open
  fixed top 20px left 12px
  margin-left 1rem
  color lg
  z-index 10
  &:hover
    white         
.nav-content
  col(1)
  center()
  .nav
    col(1)
    padding .5em
    h3
      color white
     
    ul
      list-style none
          
      li
        
        a
          color lg 
          text-decoration none 
          font-size 1em 
          &:hover
            color white   
// helping
.menu-open
  left 200px
  .menu-side
    left 0
    transition left 500ms ease 
    z-index 999 






