*
	margin 0 
	padding 0




@import 'typographic'
@import 'nib'
@import 'jeet'
@import 'rupture'
@import 'axis'
@import 'animate.css/animate.css'

// helpers
@import '_vars'



// page elements
body
	font-family: $futura

typographic()

@import '_navigation'
@import '_hero'
@import '_projects'
