doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Pyrrhicreative

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")


  body.menu    
    header
      //- open menu
      a(href="#").menu-toggle#opener: i.fa.fa-bars.fa-3x
      nav.menu-side
        //- close out
        a(href="#").menu-toggle: i.fa.fa-times.fa-3x
        section.projects
          ul 
            li: a(href="#") Proj 1
            li: a(href="#") Proj 2
            li: a(href="#") Proj 3
            li: a(href="#") Proj 4
            li: a(href="#") Proj 5
            li: a(href="#") Proj 1
            li: a(href="#") Proj 2
            li: a(href="#") Proj 3
            li: a(href="#") Proj 4
            li: a(href="#") Proj 5
    main
      //- section.main-hero

    footer
      
   

    script(src='build/build.js')
