doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Pyrrhicreative

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")


  body.menu    
    header
      //- open menu
      a(href="#").menu-toggle#opener: i.fa.fa-bars.fa-3x
      nav.menu-side
        //- close out
        a(href="#").menu-toggle: i.fa.fa-times.fa-3x
        section.nav-content
          article.nav-projects
            h1 Projects
            ul#projects-nav 
              li: a(href="#") Proj 1
              li: a(href="#") Proj 2
              li: a(href="#") Proj 3
              li: a(href="#") Proj 4
              li: a(href="#") Proj 5
              li: a(href="#") Proj 1
              li: a(href="#") Proj 2
              li: a(href="#") Proj 3
              li: a(href="#") Proj 4
              li: a(href="#") Proj 5

          article.info
            h1 Info
            .blurb
              h5  Lorem ipsum dolor sit.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, eligendi illo libero quibusdam ab, quod iusto hic facilis alias ducimus saepe et ad? Debitis, alias maxime sit libero. Voluptatibus ullam nesciunt aperiam, provident dicta sint consequuntur 
            .contact-information
              h5 Contact  
              ul
                li: p (124)-224-1235
                li: p hey@pyrrhicreative.com
            .follow
              h5 Contact  
              ul
                li: a(href="#") Twitter
                li: a(href="#") Facebook
                li: a(href="#") Behance
                li: a(href="#") Dribble
                li: a(href="#") Pintrest
                li: a(href="#") Google+ 

    main
      //- section.main-hero

    footer
      
   

    script(src='build/build.js')
