doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Pyrrhicreative

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")


  body.menu    
    header
      //- open menu
      a(href="#").menu-toggle#open: i.fa.fa-bars.fa-2x
      nav.menu-side
        //- close out
        a(href="#").menu-toggle#close: i.fa.fa-times.fa-1x
        section.nav-content
          article.nav
            h3 bubblefish
            ul#projects-nav 
              li: a(href="#") The What
              li: a(href="#") The Who 
              li: a(href="#") The How 
              li: a(href="#") The Where 
              li: a(href="#") The When 





    main
      section.main-hero
        .text
          h1 We Are BubbleFish
          p  We create stunning and exemplorary artwork.
          a(href="#work-toggle") View our work below
      
      section.work#work-toggle
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content  
            h3 Lorem ipsum dolor sit.
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
            a(href="#")  Lorem ipsum dolor sit amet.
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content  
              h3 Lorem ipsum dolor sit.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
              a(href="#")  Lorem ipsum dolor sit amet.
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content  
              h3 Lorem ipsum dolor sit.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
              a(href="#")  Lorem ipsum dolor sit amet.
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content  
              h3 Lorem ipsum dolor sit.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
              a(href="#")  Lorem ipsum dolor sit amet.
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content  
              h3 Lorem ipsum dolor sit.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
              a(href="#")  Lorem ipsum dolor sit amet.
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content  
              h3 Lorem ipsum dolor sit.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
              a(href="#")  Lorem ipsum dolor sit amet.
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content  
              h3 Lorem ipsum dolor sit.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
              a(href="#")  Lorem ipsum dolor sit amet.
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content  
              h3 Lorem ipsum dolor sit.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
              a(href="#")  Lorem ipsum dolor sit amet.
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content 
            h3 Lorem ipsum dolor sit.
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
            a(href="#")  Lorem ipsum dolor sit amet.
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content  
              h3 Lorem ipsum dolor sit.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
              a(href="#")  Lorem ipsum dolor sit amet.
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content  
              h3 Lorem ipsum dolor sit.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
              a(href="#")  Lorem ipsum dolor sit amet.
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content  
              h3 Lorem ipsum dolor sit.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
              a(href="#")  Lorem ipsum dolor sit amet.
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content  
              h3 Lorem ipsum dolor sit.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
              a(href="#")  Lorem ipsum dolor sit amet.
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content  
              h3 Lorem ipsum dolor sit.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
              a(href="#")  Lorem ipsum dolor sit amet.
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content  
              h3 Lorem ipsum dolor sit.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
              a(href="#")  Lorem ipsum dolor sit amet.
        article.work-item
          img(src="images/hero.jpg", alt="-------")
          figcaption.work-item-content  
              h3 Lorem ipsum dolor sit.
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe excepturi minus, fugit omnis id doloribus rem at dolorum vel rerum.
              a(href="#")  Lorem ipsum dolor sit amet.
    
    footer.site-footer
      section
        h3 Contact Us
        ul
          li Phone: Random google voice number
          li Email: hello@bubblecreative.com
          li Po box? --future
      section
        h3 Follow us on: 
        ul
          li: a(href="#") Twitter
          li: a(href="#") Instagram
          li: a(href="#") Facebook
          li: a(href="#") Behance
      

      section
        h3
    
    script(src='build/build.js')
